::ng-deep.mat-dialog-container {
  border-radius: 25px !important;
}

::ng-deep.mat-card {
  border-radius: 25px !important;
}

.accessControlContainer {
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  background-color: #e9e9e9;
}
