<div class="container mx-auto h-full w-full">
  <div class="m-3">
    <button
      mat-raised-button
      color="primary"
      class="mb-2"
      (click)="openAdminUserModal()"
    >
      Add
      <mat-icon>add</mat-icon>
    </button>

    <mat-card class="rounded">
      <div class="flex flex-col flex-auto min-w-0">
        <table mat-table [dataSource]="dataSource?.data">
          <!-- Position Column -->
          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{ i + 1 }}
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef>Username</th>
            <td mat-cell *matCellDef="let element">
              {{ element?.username }}
            </td>
          </ng-container>
          <ng-container matColumnDef="userType">
            <th mat-header-cell *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let element">
              {{ element?.userType }}
            </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="read">
            <th mat-header-cell *matHeaderCellDef>Read</th>
            <td mat-cell *matCellDef="let element">
              <i
                class="fa-solid fa-check"
                *ngIf="element?.allowRead"
                (click)="updatePermission(element, 'read', 'disable')"
              ></i>
              <i
                class="fa-solid fa-xmark"
                *ngIf="!element?.allowRead"
                (click)="updatePermission(element, 'read', 'enable')"
              ></i>
            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="create">
            <th mat-header-cell *matHeaderCellDef>Create</th>
            <td mat-cell *matCellDef="let element">
              <i
                class="fa-solid fa-check"
                (click)="updatePermission(element, 'create', 'disable')"
                *ngIf="element?.allowCreate"
              ></i>
              <i
                class="fa-solid fa-xmark"
                (click)="updatePermission(element, 'create', 'enable')"
                *ngIf="!element?.allowCreate"
              ></i>
            </td>
          </ng-container>
          <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef>Update</th>
            <td mat-cell *matCellDef="let element">
              <i
                class="fa-solid fa-check"
                (click)="updatePermission(element, 'update', 'disable')"
                *ngIf="element?.allowUpdate"
              ></i>
              <i
                class="fa-solid fa-xmark"
                (click)="updatePermission(element, 'update', 'enable')"
                *ngIf="!element?.allowUpdate"
              ></i>
            </td>
          </ng-container>
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let element">
              <i
                class="fa-solid fa-check"
                (click)="updatePermission(element, 'delete', 'disable')"
                *ngIf="element?.allowDelete"
              ></i>
              <i
                class="fa-solid fa-xmark"
                (click)="updatePermission(element, 'delete', 'enable')"
                *ngIf="!element?.allowDelete"
              ></i>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
        </mat-paginator>
      </div>
    </mat-card>
  </div>
</div>

<ng-template #addAdminUserModal>
  <div mat-dialog-title>Create Admin User</div>
  <div mat-dialog-content>
    <form [formGroup]="form">
      <!-- Section -->

      <div class="grid grid-cols-1 w-full mt-8">
        <!-- Name -->
        <div class="col-span-4">
          <mat-form-field
            class="fuse-mat-no-subscript w-full"
            appearance="fill"
          >
            <mat-label>Username</mat-label>
            <mat-icon
              class="icon-size-5"
              [svgIcon]="'heroicons_solid:user'"
              matPrefix
            ></mat-icon>
            <input
              placeholder="Username"
              [formControlName]="'username'"
              matInput
            />
          </mat-form-field>
        </div>
        <div class="col-span-4">
          <mat-form-field
            class="fuse-mat-no-subscript w-full"
            appearance="fill"
          >
            <mat-label>Password</mat-label>
            <mat-icon
              class="icon-size-5"
              [svgIcon]="'heroicons_solid:key'"
              matPrefix
            ></mat-icon>
            <input
              placeholder="Password"
              type="password"
              [formControlName]="'password'"
              matInput
            />
          </mat-form-field>
        </div>
        <div class="col-span-4">
          <div class="grid grid-cols-2">
            <mat-checkbox formControlName="allowRead">Read</mat-checkbox>
            <mat-checkbox formControlName="allowCreate">Write</mat-checkbox>
          </div>
          <div class="grid grid-cols-2">
            <mat-checkbox formControlName="allowUpdate">Update</mat-checkbox>
            <mat-checkbox formControlName="allowDelete">Delete</mat-checkbox>
          </div>
          <div class="grid grid-cols-2">
            <mat-checkbox (change)="onCheckAll($event)">All</mat-checkbox>
          </div>
        </div>
      </div>
    </form>
    <div class="mt-2">
      <button mat-raised-button color="primary" (click)="onAddAdminUser()">
        Add
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</ng-template>
